/* margin=outside the border */
/* padding=inside the border */
*{
    background-image: url(ABESEngineer.jpeg);
    background-repeat: no-repeat;
    background-size: 900px;
    
}
h2{
    color: darkmagenta;
    border: 2px solid red;
    border-radius: 5px;
}

p{
    font-family: cursive;
    color:rgb(172, 172, 247);
    border-radius: 5px;
    font-weight:900;
    border: 2px solid blue;
}
#lastpara{
    margin-top: 50px;
    padding: 10px;
    border: 2px solid crimson;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px;
}