#formdiv {
    display: flex;
    justify-content: center;
    align-items: center;

}
#img{
    margin: 20px;
    margin-left: 25px;
    padding: auto;
}
#form {

    display: grid;
    border: 2px solid black;
    align-items: center;
    border-radius: 5px;

    width: 300px;
    height: 400px;
}