*{
    margin: 0%;
}


button:hover{
    background-color: blue;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}
button:active{
background-color: rgb(17, 211, 147);
}
input:hover{
    height: 200px;
    background-color: blue;
    border-radius: 50%;
}
div{
    height: 400px;
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}
span{
    float: left;
    clear: right;
}
img{
height: auto;
width: 150px;
float: right;
}
p::after{
    content: "hello";
    font-weight: bold;
}
p::before{
    content: "hatt";
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}