body{
    background-color: aliceblue;
}
#h2{
    color: black;
}
#firstdiv{
    display: flex;
    align-items: center;
    justify-content: center;

}
#holi{
    color: black;
    background-color: rgb(216, 248, 183);
    border-radius: 5px;
    height: 500px;
}

#header{
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgb(235, 151, 151);
    overflow: hidden;

}
#navdiv{
    background-color: rgb(248, 82, 64);
}
#sidenav{
  
    .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
}