body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    font-size: 18px;
    color: darkgreen;
}

div {
    box-sizing: border-box;
    width: 200px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightyellow;
    margin: 20px;
    padding-left: 85px;
    padding-top: 45px;
}